.flex-container {
    display: flex;
    justify-content: center;
  }
  
  .centerclass {
    align-items: center;
  }
  
  img {
    width: 30%;
  }
  
  body {
    margin: 0;
    background-color: black;
    color: white;
  }
  
  * {
    font-family: "Segoe UI";
  }
  
  /* navigation-bar */
  .navigation-bar {
    background-color: black;
    color: white;
    padding: 25px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "logo items lupa";
    justify-items: stretch;
    align-items: stretch;
    column-gap: 20px
  }
  
  .navbar-logo {
    grid-area: logo;
    width: 160px;
    padding-left: 12px;
  }
  
  .menus {
    grid-area: items;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  
  .menus * {
    padding-left: 20px;
  }
  
  .navbar-lupa {
    grid-area: lupa;
    padding-right: 30px;
  }
  
  a.navbar-item:link, a.navbar-item:visited {
    color: white;
    text-decoration: none;
    font-size: 26px;
  }
  
  a.navbar-item:hover, a.navbar-item:active {
    color: #CDCDCD;
    text-decoration: none;
    font-size: 26px;
  }
  
  a.navbar-lupa:link, a.navbar-lupa:visited {
    color: white;
    text-decoration: none;
  }
  
  a.navbar-lupa:hover, a.navbar-lupa:active {
    color: #CDCDCD;
    text-decoration: none;
  }
  
  /* featured-movie-items */
  .main-part {
    color: white;
    padding-top: 40px;
    background-size: cover;
    background-image: url(https://occ-0-1068-1723.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXq_vQJf0hxGmUQqHnb8nXwpz8iEmzC2upISv1MYxfE2kXO-IouDyL-TuAAkSqEn-iPui5s3ax8In2XqquIQkQ7L7csL.jpg?r=a42);
  }
  
  .featured-movie-items {
    padding-left: 40px;
    padding-bottom: 40px;
  }
  
  .icon {
    padding-right: 4px;
  }
  
  .button {
    padding: 12px 40px;
    border-radius: 4px;
    background: none;
      border: none;
      font: inherit;
      cursor: pointer;
      outline: inherit;
  }
  
  .button-play {
    background-color: white;
    font-weight: bold;
  }
  
  .button-play:hover {
    background-color: #CDCDCD;
  }
  
  .button-list {
    margin-left: 15px;
    background-color: gray;
    color: white;
    font-weight: bold;
  }
  
  .button-list:hover {
    background-color: #616161;
  }
  .main-featured-movie-text-div {
    text-align: left;
  }
  
  .main-featured-movie-text {
    font-size: 110px;
    font-weight: bold;
    line-height: 90%;
  }
  
  .side-featured-movie-text {
    font-size: 25px;
    width: 50%;
  }
  
  .n-logo {
    max-height: 40px;
    max-width: 25px;
    padding-left: 5px;
    margin-top: 40px;
  }
  
  /* popular-on-netflix */
  .popular-text{
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
  }
  
  /* slider */
  .slider {
    padding: 10px 40px 20px;
  }
  
  /* FULLMOVIE.HTML */
  .details {
    color: white;
    padding: 30px 35px 350px;
  }
  
  /* MYLIST.HTML */
  .MyListContent {
    padding: 30px 35px 350px;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
  .button-div {
    padding-bottom: 20px;
  }
  
  .mylist-body {
    background-color: black;
  }
  
  .stateText {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  /* fullMovieDetails Styling */

  .movieDetailsTextStyle {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 30px;
  }
  
  /* RESPONSIVE */
  @media only screen and (max-width: 957px) {
    .navigation-bar, .menus {
      display: block;
    }
    .menus * {
      padding: 0;
    }
    .navbar-lupa {
      margin-top: 10px;
      padding: 0;
    }
    .navbar-logo {
      width: 100%;
      padding: 0;
    }
    .side-featured-movie-text {
      width: 95%;
    }
  }
  